<style>
  /* table tr {
    display: none;
  }
  table tr:first-child {
    display: table-row;
  } */
</style>

<div>
  <!-- <h2>Users</h2> -->
  <br />
  <!-- <input
      type="button"
      value="Add User"
      class="btn btn btn-success"
      style="float: right"
      id="addUser"
      ng-click="addUsers()"
    /> -->

  <div class="">
    <!-- <button
      class="btn btn-success"
      type="button"
      data-toggle="modal"
      data-backdrop="static"
      data-keyboard="false"
      data-target="#myModal11"
      ng-click=""
      style="float: right"
    >
      Add Block
    </button>
    <br />
    <br /> -->

    <div class="row">
      <div class="col-md-3 mb-2">
        <!-- <h3 class="m-0 text-dark">Athletes In Action</h3> -->
        <!-- <label for="show_user">Search</label> -->
        <input
          type="text"
          class="form-control"
          id="search"
          placeholder="Type to search"
        />
      </div>
    </div>

    <br />

    <table class="table table-bordered table-hover bg-white-only">
      <thead>
        <tr style="font-weight: bold">
          <td style="width: 20%">Block Name</td>
          <td style="width: 20%">School Year</td>
          <td style="width: 20%">Semester</td>
          <td style="width: 30%">Subject</td>
          <td style="width: 30%">Course</td>
          <td style="width: 10%">Year</td>
          <td style="width: 30%">Faculty</td>
          <td style="width: 20%">Actions</td>
          <!-- <td style="width: 10%">No. Students</td> -->
          <!-- <td style="width: 10%">Unit(s)</td> -->
          <!-- <td style="width:35%">Fullname</td> -->
          <!-- <td style="width: 35%">Pre-Requisited</td> -->
          <!-- <td style="width:20%">Country</td>
                  <td style="width:20%">Gender</td> -->
          <!-- <td style="width:35%">Address</td>
              <td style="width:25%">Number</td> -->
          <!-- <td style="width: 20%">Actions</td> -->
        </tr>
      </thead>

      <tbody id="myTable">
        <tr ng-repeat="users in data">
          <td class="v-middle">
            <!-- editable username (text with validation) -->
            <span>
              <!-- <div ng-bind-html="users.username"></div> -->
              {{ users.blockname }}
            </span>
          </td>
          <td class="v-middle">
            <!-- editable username (text with validation) -->
            <span>
              <!-- <div ng-bind-html="users.username"></div> -->
              {{ users.schoolYear }}
            </span>
          </td>
          <td class="v-middle">
            <!-- editable username (text with validation) -->
            <span>
              <!-- <div ng-bind-html="users.username"></div> -->
              {{ users.semester }}
            </span>
          </td>
          <!-- <td class="v-middle">
                  editable username (text with validation)
                  <span>
  {{ users.fullname }}
  </span>
              </td> -->
          <td class="v-middle">
            <!-- editable status (select-local) -->
            <span> {{ users.subject }} </span>
          </td>
          <td class="v-middle">
            <!-- editable status (select-local) -->
            <span> {{ users.course }} </span>
          </td>
          <td class="v-middle">
            <!-- editable status (select-local) -->
            <span> {{ users.year }} </span>
          </td>
          <td class="v-middle">
            <!-- editable status (select-local) -->
            <span> {{ users.faculty }} </span>
          </td>
          <!--<td class="v-middle">
                   editable status (select-local) 
                  <span>
  {{ users.address }}
  </span>
              </td>
              <td class="v-middle">
                   editable status (select-local) 
                  <span>
  {{ users.number }}
  </span>
              </td> -->
          <!-- <td class="v-middle">
            <span> {{ users.students }} </span>
          </td> -->
          <td style="white-space: nowrap">
            <div class="pull-left"></div>
            <button
              type="button"
              class="btn btn btn-info"
              ng-click="selectUser(users)"
            >
              view
            </button>
            <!-- <button
              type="button"
              class="btn btn btn-danger"
              ng-click="selectUser2(users)"
            >
              delete
            </button> -->
            <!-- </div>
                  <button class="btn btn-xs btn-info" ng-click="rowform.$show()">edit</button>
                  <button class="btn btn-xs btn-danger" ng-click="removeUser($index)">del</button>
              </div> -->
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <!-- Modal -->
    <div class="modal fade" id="myModalEdit" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit User</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              ng-click="close()"
            >
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="">Username</label>
              <div class="">
                <input
                  type="text"
                  class="form-control"
                  ng-value="newUsername"
                  ng-model="clickedUser.username"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="">Email</label>
              <div class="0">
                <input
                  type="text"
                  class="form-control"
                  ng-value="newEmail"
                  ng-model="clickedUser.email"
                />
              </div>
            </div>

            <div class="form-group">
              <label class="">Role</label>
              <div class="">
                <!-- <select ng-if="clickedUser.role == 'ordinary'">
      <option type="text" class="form-control" ng-value="newRole" ng-model="clickedUser.role">{{clickedUser.role}}</option>
          <option ng-repeat="role in roleDetails1">{{role.rolename}}</option> 
  </select>
  
  <select ng-if="clickedUser.role == 'investor'">
      <option type="text" class="form-control" ng-value="newRole" ng-model="clickedUser.role">{{clickedUser.role}}</option>
          <option ng-repeat="role in roleDetails2">{{role.rolename}}</option> 
  </select>
  
  <select ng-if="clickedUser.role == 'admin'">
      <option type="text" class="form-control" ng-value="newRole" ng-model="clickedUser.role">{{clickedUser.role}}</option>
          <option ng-repeat="role in roleDetails3">{{role.rolename}}</option> 
  </select> -->
                <select ng-model="clickedUser.role">
                  <option value="ordinary">Ordinary</option>
                  <option value="super">Super User</option>
                  <option value="admin">Admin</option>
                  <!-- <option value="" selected></option> -->
                  <!-- <option ng-if="clickedUser.role =='ordinary'" ng-repeat="role in roleDetails1">{{role.rolename}}</option> 
      <option ng-if="clickedUser.role =='investor'" ng-repeat="role in roleDetails2">{{role.rolename}}</option> 
      <option ng-if="clickedUser.role =='admin'" ng-repeat="role in roleDetails3">{{role.rolename}}</option>  -->
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn btn-info"
              data-dismiss="modal"
              ng-click="updateUser()"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn btn-danger"
              data-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModalDelete" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <p>
              You want to delete
              <strong style="color: red">{{clickedUser.username}}'s</strong>
              information...
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
              ng-click="deleteUser()"
            >
              Yes
            </button>
            <button type="button" class="btn btn-info" data-dismiss="modal">
              No
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit User</h4>
          <button type="button" ng-click="close()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="">Username</label>
            <div class="">
              <input
                type="text"
                class="form-control"
                ng-value="newUsername"
                ng-model="clickedUser.username"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="">Email</label>
            <div class="0">
              <input
                type="text"
                class="form-control"
                ng-value="newEmail"
                ng-model="clickedUser.email"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="">Role</label>
            <div class="">
              <select ng-model="clickedUser.role">
                <option value="ordinary">Ordinary</option>
                <option value="super">Super User</option>
                <option value="admin">Admin</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn btn-info"
            data-dismiss="modal"
            ng-click="updateUser()"
          >
            Save
          </button>
          <button type="button" class="btn btn btn-danger" ng-click="close()">
            Cancel
          </button>
        </div>
      </div>
    </div>

    <!-- The Modal -->
    <div id="myModal2" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Are you sure?</h4>
          <button type="button" ng-click="close2()">&times;</button>
        </div>
        <div class="modal-body">
          <p>
            You want to delete
            <strong style="color: red">{{clickedUser.username}}'s</strong>
            information...
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="deleteUser()">
            Yes
          </button>
          <button type="button" class="btn btn-info" ng-click="close2()">
            No
          </button>
        </div>
      </div>
    </div>

    <div id="myModal3" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add User</h4>
          <button type="button" ng-click="close3()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="">First Name</label>
            <div class="">
              <input
                type="text"
                class="form-control"
                ng-value="newUsername"
                ng-model="clickedUser.username"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="">Middle Name</label>
            <div class="">
              <input
                type="text"
                class="form-control"
                ng-value="newUsername"
                ng-model="clickedUser.username"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="">Last Name</label>
            <div class="">
              <input
                type="text"
                class="form-control"
                ng-value="newUsername"
                ng-model="clickedUser.username"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="">Email</label>
            <div class="0">
              <input
                type="text"
                class="form-control"
                ng-value="newEmail"
                ng-model="clickedUser.email"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="">Role</label>
            <div class="">
              <select ng-model="clickedUser.role">
                <option value="ordinary">Ordinary</option>
                <option value="super">Super User</option>
                <option value="admin">Admin</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn btn-info"
            data-dismiss="modal"
            ng-click="updateUser()"
          >
            Save
          </button>
          <button type="button" class="btn btn btn-danger" ng-click="close()">
            Cancel
          </button>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModal11" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Block</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div id="errorMessage" style="color: red"></div>
            <!-- <p style="display: none" id="error">
                <i style="color: red"
                  >&nbsp;&nbsp; Error: All fields are required!</i
                >
              </p> -->
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="blockName">Block Name</label>
                <input
                  class="form-control"
                  ng-model="blockName"
                  id="blockName"
                  autocomplete="off"
                  type="text"
                  placeholder="A"
                  required=""
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="schoolYear">School Year</label>
                <select
                  class="custom-select form-control"
                  id="schoolYear"
                  ng-model="schoolYear"
                >
                  <option value="2021-2022">2021-2022</option>
                  <option value="2022-2023">2022-2023</option>
                  <option value="2023-2024">2023-2024</option>
                  <option value="2024-2025">2024-2025</option>
                  <option value="2025-2026">2025-2026</option>
                </select>
              </div>
              <!-- <div class="col-md-4 mb-3">
                <label for="faculty">Faculty</label>
                <select
                  class="custom-select form-control"
                  id="faculty"
                  ng-change="faculty()"
                  ng-model="faculty"
                >
                  <option value="1">Faculty 1</option>
                  <option value="2">Faculty 2</option>
                  <option value="3">Faculty 3</option>
                  <option value="4">Faculty 4</option>
                  <option value="5">Faculty 5</option>
                </select>
              </div> -->
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="subject">Subject</label>
                <select
                  class="custom-select form-control"
                  id="subjects"
                  ng-model="subject"
                >
                  <!-- <option value="1">Subject 1</option>
                  <option value="2">Subject 2</option>
                  <option value="3">Subject 3</option>
                  <option value="4">Subject 4</option>
                  <option value="5">Subject 5</option> -->
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="faculty">Faculty</label>
                <select
                  class="custom-select form-control"
                  id="faculty"
                  ng-model="faculty"
                >
                  <!-- <option value="1">Faculty 1</option>
                  <option value="2">Faculty 2</option>
                  <option value="3">Faculty 3</option>
                  <option value="4">Faculty 4</option>
                  <option value="5">Faculty 5</option> -->
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="students">Students</label>
                <select
                  class="custom-select form-control"
                  id="students"
                  ng-model="students"
                >
                  <!-- <option value="1">Student 1</option>
                  <option value="2">Student 2</option>
                  <option value="3">Student 3</option>
                  <option value="4">Student 4</option>
                  <option value="5">Student 5</option> -->
                </select>
                <br />
                <button
                  type="button"
                  class="btn btn-success"
                  style="float: right"
                  ng-click="addStudent()"
                >
                  Add
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-3">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Student Lists</h3>
                  </div>
                  <div class="card-body">
                    <!-- <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="text-align: center">First Name</th>
                          <th style="text-align: center">Middle Name</th>
                          <th style="text-align: center">Last Name</th>
                          <th style="text-align: center">Year</th>
                          <th style="text-align: center">Course</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td style="text-align: center" id="tableAIAeva">Juan</td>
                          <td style="text-align: center" id="tableAIAeva">Gonzales</td>
                          <td style="text-align: center" id="tableAIAsfu">Dela Cruz</td>
                          <td style="text-align: center" id="tableAIAst">1</td>
                          <td style="text-align: center" id="tableAIAcmd">BSIT</td>
                        </tr>
                        <tr>
                          <td style="text-align: center" id="tableAIAeva">Juan</td>
                          <td style="text-align: center" id="tableGANeva">De Guzman</td>
                          <td style="text-align: center" id="tableGANsfu">Tamad</td>
                          <td style="text-align: center" id="tableGANst">1</td>
                          <td style="text-align: center" id="tableGANcmd">BSIT</td>
                        </tr>
                        <tr>
                          <td style="text-align: center" id="tableSReva">Test</td>
                          <td style="text-align: center" id="tableSReva">test</td>
                          <td style="text-align: center" id="tableSRsfu">test</td>
                          <td style="text-align: center" id="tableSRst">2</td>
                          <td style="text-align: center" id="tableSRcmd">BSCS</td>
                        </tr>
                        <tr>
                          <td style="text-align: center" id="tableJFeva">qwerty</td>
                          <td style="text-align: center" id="tableJFeva">qwerty</td>
                          <td style="text-align: center" id="tableJFsfu">qwerty</td>
                          <td style="text-align: center" id="tableJFst">2</td>
                          <td style="text-align: center" id="tableJFcmd">BSIT</td>
                        </tr>
                        <tr>
                          <td style="text-align: center" id="tableGCMMeva">I</td>
                          <td style="text-align: center" id="tableGCMMeva">am</td>
                          <td style="text-align: center" id="tableGCMMsfu">student</td>
                          <td style="text-align: center" id="tableGCMMst">1</td>
                          <td style="text-align: center" id="tableGCMMcmd">BSCS</td>
                        </tr>

                      </tbody>
                    </table> -->
                    <table class="table table-bordered">
                      <thead>
                        <tr style="font-weight: bold">
                          <th style="width: 20%; text-align: center">
                            First Name
                          </th>
                          <th style="width: 20%; text-align: center">
                            Middle Name
                          </th>
                          <th style="width: 20%; text-align: center">
                            Last Name
                          </th>
                          <th style="width: 10%; text-align: center">Year</th>
                          <th style="width: 20%; text-align: center">Course</th>
                          <!-- <td style="width: 20%">Course Code</td>
                          <td style="width: 30%">Course Title</td>
                          <td style="width: 10%">Lec Unit(s)</td>
                          <td style="width: 10%">Lab Unit(s)</td>
                          <td style="width: 10%">Unit(s)</td> -->
                          <!-- <td style="width:35%">Fullname</td> -->
                          <!-- <td style="width: 35%">Pre-Requisited</td> -->
                          <!-- <td style="width:20%">Country</td>
                                  <td style="width:20%">Gender</td> -->
                          <!-- <td style="width:35%">Address</td>
                              <td style="width:25%">Number</td> -->
                          <td style="width: 20%">Actions</td>
                        </tr>
                      </thead>

                      <tbody id="myTable">
                        <tr ng-repeat="users in data2">
                          <td class="v-middle">
                            <!-- editable username (text with validation) -->
                            <span>
                              <!-- <div ng-bind-html="users.username"></div> -->
                              {{ users.firstName }}
                            </span>
                          </td>
                          <td class="v-middle">
                            <!-- editable username (text with validation) -->
                            <span>
                              <!-- <div ng-bind-html="users.username"></div> -->
                              {{ users.middleName }}
                            </span>
                          </td>
                          <td class="v-middle">
                            <!-- editable username (text with validation) -->
                            <span>
                              <!-- <div ng-bind-html="users.username"></div> -->
                              {{ users.lastName }}
                            </span>
                          </td>
                          <td class="v-middle">
                            <!-- editable username (text with validation) -->
                            <span>
                              <!-- <div ng-bind-html="users.username"></div> -->
                              {{ users.year }}
                            </span>
                          </td>
                          <!-- <td class="v-middle">
                                  editable username (text with validation)
                                  <span>
                  {{ users.fullname }}
                  </span>
                              </td> -->
                          <td class="v-middle">
                            <!-- editable status (select-local) -->
                            <span> {{ users.course }} </span>
                          </td>
                          <!--<td class="v-middle">
                                   editable status (select-local) 
                                  <span>
                  {{ users.address }}
                  </span>
                              </td>
                              <td class="v-middle">
                                   editable status (select-local) 
                                  <span>
                  {{ users.number }}
                  </span>
                              </td> -->
                          <td style="white-space: nowrap">
                            <div class="pull-left"></div>
                            <button
                              type="button"
                              class="btn btn btn-danger"
                              ng-click="selectUser2(users)"
                            >
                              delete
                            </button>
                            <!-- </div>
                                  <button class="btn btn-xs btn-info" ng-click="rowform.$show()">edit</button>
                                  <button class="btn btn-xs btn-danger" ng-click="removeUser($index)">del</button>
                              </div> -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <p>
                    <i style="color: red"
                      >&nbsp;&nbsp; Note: All fields are required. Just put 0 if
                      there's no input</i
                    >
                  </p> -->
          <!-- </div> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-success" ng-click="addData()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal12" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{clickedUser.subject}}</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div id="errorMessage" style="color: red"></div>
          <!-- <p style="display: none" id="error">
                <i style="color: red"
                  >&nbsp;&nbsp; Error: All fields are required!</i
                >
              </p> -->

          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Student Lists</h3>
                </div>
                <div class="card-body">
                  <fieldset id="myTableFieldSet">
                    <table class="table table-bordered" id="myTableTest">
                      <thead>
                        <tr>
                          <!-- <th style="width: 10px">#</th> -->
                          <th style="text-align: center">Full Name</th>
                          <th style="text-align: center">Prelim</th>
                          <th style="text-align: center">Midterm</th>
                          <th style="text-align: center">Prefinals</th>
                          <th style="text-align: center">Finals</th>
                          <th style="text-align: center">Average Grade</th>
                          <th style="text-align: center">Remarks</th>
                          <!-- <th style="text-align: center">Actions</th> -->
                          <!-- <th style="text-align: center">GWA</th> -->
                          <!-- <th style="text-align: center">Budget</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="users in data3">
                          <td class="v-middle">
                            <!-- editable username (text with validation) -->
                            <span>
                              <!-- <div ng-bind-html="users.username"></div> -->
                              {{ users.firstName}} {{ users.middleName }} {{
                              users.lastName }}
                            </span>
                          </td>
                          <td class="v-middle">
                            <!-- editable username (text with validation) -->
                            <span>
                              <!-- <div ng-bind-html="users.username"></div> -->
                              <!-- {{ users.prelim }} -->

                              <input
                                type="text"
                                class="grade_form form-control"
                                ng-value="newPrelim"
                                ng-model="users.prelim"
                                id="id1"
                              />
                            </span>
                          </td>
                          <td class="v-middle">
                            <!-- editable username (text with validation) -->
                            <span>
                              <!-- <div ng-bind-html="users.username"></div> -->
                              <!-- {{ users.midterm }} -->
                              <input
                                type="text"
                                class="grade_form form-control"
                                ng-value="newMidterm"
                                ng-model="users.midterm"
                                id="id2"
                              />
                            </span>
                          </td>
                          <td class="v-middle">
                            <!-- editable username (text with validation) -->
                            <span>
                              <!-- <div ng-bind-html="users.username"></div> -->
                              <!-- {{ users.prefinal }} -->
                              <input
                                type="text"
                                class="grade_form form-control"
                                ng-value="newPrefinal"
                                ng-model="users.prefinal"
                                id="id3"
                              />
                            </span>
                          </td>
                          <!-- <td class="v-middle">
                                    editable username (text with validation)
                                    <span>
                    {{ users.fullname }}
                    </span>
                                </td> -->
                          <td class="v-middle">
                            <!-- editable status (select-local) -->
                            <span>
                              <!-- {{ users.final }}  -->
                              <input
                                type="text"
                                class="grade_form form-control"
                                ng-value="newFinal"
                                ng-model="users.final"
                                id="id4"
                              />
                            </span>
                          </td>

                          <td class="v-middle">
                            <!-- editable status (select-local) -->
                            <span>
                              {{ ((users.prelim * 1) + (users.midterm * 1) +
                              (users.prefinal * 1) + (users.final * 1)) / 4 }}
                              <!-- <input
                                type="text"
                                class="grade_form form-control"
                                ng-value="newAverage"
                                ng-model="users.average"
                                id="id5"
                              /> -->
                            </span>
                          </td>

                          <td class="v-middle">
                            <!-- editable status (select-local) -->
                            <span>
                              <!-- {{ users.final }}  -->
                              <input
                                type="text"
                                class="grade_form form-control"
                                ng-value="newRemarks"
                                ng-model="users.remarks"
                                id="id6"
                              />
                            </span>
                          </td>
                          <!--<td class="v-middle">
                                     editable status (select-local) 
                                    <span>
                    {{ users.address }}
                    </span>
                                </td>
                                <td class="v-middle">
                                     editable status (select-local) 
                                    <span>
                    {{ users.number }}
                    </span>
                                </td> -->
                          <!-- <td style="white-space: nowrap">
                            <div class="pull-left"></div>
                            <button
                              type="button"
                              class="btn btn btn-info"
                              ng-click="selectUser3(users)"
                            >
                              Add/Edit
                            </button>
                          </td> -->
                        </tr>
                        <!-- <tr>
                            <td></td>
                            <td style="text-align: center">---</td>
                            <td style="text-align: center" id="tableTOTALeva">---</td>
                            <td style="text-align: center" id="tableTOTALsfu">---</td>
                            <td style="text-align: center" id="tableTOTALst">---</td>
                            <td style="text-align: center" id="tableTOTALcmd">---</td>
                            <td style="text-align: center" id="tableTOTALchurches">---</td>
                          </tr> -->
                      </tbody>
                    </table>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-success"
            ng-click="SaveTest()"
            id="saveGrade"
          >
            Save
          </button>
          <!-- <button type="button" class="btn btn-success" ng-click="updateData()">
            Update
          </button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal13" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Are you sure?</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>
            You want to delete
            <strong style="color: red">{{clickedUser.code}}'s</strong>
            information...
          </p>
        </div>
        <div class="modal-footer">
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">
              No
            </button>
            <button
              type="button"
              class="btn btn-danger"
              ng-click="deleteUser()"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal14" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            {{clickedUser2.firstName}} {{clickedUser2.lastName}}
          </h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="add_prelim">Prelim</label>
              <input
                class="form-control"
                ng-model="clickedUser2.prelim"
                id="add_prelim"
                autocomplete="off"
                type="text"
                placeholder=""
                required=""
              />
            </div>
            <div class="col-md-3 mb-3">
              <label for="add_midterm">Midterm</label>
              <input
                class="form-control"
                ng-model="clickedUser2.midterm"
                id="add_midterm"
                autocomplete="off"
                type="text"
                placeholder=""
                required=""
              />
            </div>
            <div class="col-md-3 mb-3">
              <label for="add_pre_finals">Pre-finals</label>
              <input
                class="form-control"
                ng-model="clickedUser2.prefinal"
                id="add_pre_finals"
                autocomplete="off"
                type="text"
                placeholder=""
                required=""
              />
            </div>
            <div class="col-md-3 mb-3">
              <label for="add_finals">Finals</label>
              <input
                class="form-control"
                ng-model="clickedUser2.final"
                id="add_finals"
                autocomplete="off"
                type="text"
                placeholder=""
                required=""
              />
            </div>
          </div>
          <div class="modal-footer">
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-success"
                ng-click="SaveNew()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var table = document.getElementById("myTable"); //assuming the table has an ID of "myTable"
  var searchInput = document.getElementById("search"); //assuming the input element has an ID of "searchInput"
  searchInput.addEventListener("keyup", searchTable);

  function searchTable() {
    var query = searchInput.value.toLowerCase();
    var rows = table.getElementsByTagName("tr");

    for (var i = 0; i < rows.length; i++) {
      var cells = rows[i].getElementsByTagName("td");
      var match = false;

      for (var j = 0; j < cells.length; j++) {
        var cellText = cells[j].textContent.toLowerCase();
        if (cellText.indexOf(query) > -1) {
          match = true;
          break;
        }
      }

      if (match) {
        rows[i].style.display = "";
      } else {
        rows[i].style.display = "none";
      }
    }
  }

  // var $rows = $("#myTable tr");
  // $("#search").keyup(function () {
  //   var val = $.trim($(this).val()).replace(/ +/g, " ").toLowerCase();

  //   $rows
  //     .show()
  //     .filter(function () {
  //       var text = $(this).text().replace(/\s+/g, " ").toLowerCase();
  //       return !~text.indexOf(val);
  //     })
  //     .hide();
  // });
  $(document).ready(function () {
    $("#openBtn").click(() =>
      $("#myModal").modal({
        show: true,
      })
    );

    $(document).on("show.bs.modal", ".modal", function () {
      const zIndex = 1040 + 10 * $(".modal:visible").length;
      $(this).css("z-index", zIndex);
      setTimeout(() =>
        $(".modal-backdrop")
          .not(".modal-stack")
          .css("z-index", zIndex - 1)
          .addClass("modal-stack")
      );
    });
  });
</script>
