<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="m-0 text-dark">Over-all</h3>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Landing Page</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>20,000</h3>

                            <p>Evangelism</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-people"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>10,000<sup style="font-size: 20px"></sup></h3>

                            <p>Started FU</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-flame"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>9,999</h3>

                            <p>Started Training</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-lightbulb"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>

            <div class="col-sm-6">
                <h3 class="m-0 text-dark">Per Team</h3>
            </div>

            <br>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h4 class="m-0 text-dark">Athletes in Action</h4>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-success elevation-1"><i
                                                class="fas fa-users"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Evangelism</span>
                                            <span class="info-box-number">
                                                10
                                                <small></small>
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-danger elevation-1"><i
                                                class="fas fa-fire"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started FU</span>
                                            <span class="info-box-number">41,410</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                                <!-- fix for small devices only -->
                                <div class="clearfix hidden-md-up"></div>

                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-warning elevation-1"><i
                                                class="fas fa-lightbulb"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started Training</span>
                                            <span class="info-box-number">760</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                            </div>
                        </div>
                    </div>
                    <!-- /.card -->

                    <!-- /.card -->
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h4 class="m-0 text-dark">Global Aid Network</h4>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-success elevation-1"><i
                                                class="fas fa-users"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Evangelism</span>
                                            <span class="info-box-number">
                                                10
                                                <small></small>
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-danger elevation-1"><i
                                                class="fas fa-fire"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started FU</span>
                                            <span class="info-box-number">41,410</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                                <!-- fix for small devices only -->
                                <div class="clearfix hidden-md-up"></div>

                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-warning elevation-1"><i
                                                class="fas fa-lightbulb"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started Training</span>
                                            <span class="info-box-number">760</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h4 class="m-0 text-dark">Story Runners</h4>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-success elevation-1"><i
                                                class="fas fa-users"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Evangelism</span>
                                            <span class="info-box-number">
                                                10
                                                <small></small>
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-danger elevation-1"><i
                                                class="fas fa-fire"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started FU</span>
                                            <span class="info-box-number">41,410</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                                <!-- fix for small devices only -->
                                <div class="clearfix hidden-md-up"></div>

                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-warning elevation-1"><i
                                                class="fas fa-lightbulb"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started Training</span>
                                            <span class="info-box-number">760</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                            </div>
                        </div>
                    </div>
                    <!-- /.card -->

                    <!-- /.card -->
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h4 class="m-0 text-dark">Jesus Films</h4>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-success elevation-1"><i
                                                class="fas fa-users"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Evangelism</span>
                                            <span class="info-box-number">
                                                10
                                                <small></small>
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-danger elevation-1"><i
                                                class="fas fa-fire"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started FU</span>
                                            <span class="info-box-number">41,410</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                                <!-- fix for small devices only -->
                                <div class="clearfix hidden-md-up"></div>

                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-warning elevation-1"><i
                                                class="fas fa-lightbulb"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started Training</span>
                                            <span class="info-box-number">760</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h4 class="m-0 text-dark">GCM Manila</h4>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-success elevation-1"><i
                                                class="fas fa-users"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Evangelism</span>
                                            <span class="info-box-number">
                                                10
                                                <small></small>
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-danger elevation-1"><i
                                                class="fas fa-fire"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started FU</span>
                                            <span class="info-box-number">41,410</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                                <!-- fix for small devices only -->
                                <div class="clearfix hidden-md-up"></div>

                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-warning elevation-1"><i
                                                class="fas fa-lightbulb"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started Training</span>
                                            <span class="info-box-number">760</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                            </div>
                        </div>
                    </div>
                    <!-- /.card -->

                    <!-- /.card -->
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h4 class="m-0 text-dark">R8 (Special Project)</h4>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-success elevation-1"><i
                                                class="fas fa-users"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Evangelism</span>
                                            <span class="info-box-number">
                                                10
                                                <small></small>
                                            </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-danger elevation-1"><i
                                                class="fas fa-fire"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started FU</span>
                                            <span class="info-box-number">41,410</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                                <!-- fix for small devices only -->
                                <div class="clearfix hidden-md-up"></div>

                                <div class="col-12 col-sm-8 col-md-4">
                                    <div class="info-box mb-3">
                                        <span class="info-box-icon bg-warning elevation-1"><i
                                                class="fas fa-lightbulb"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Started Training</span>
                                            <span class="info-box-number">760</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <!-- /.col -->

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- OPTIONAL SCRIPTS -->
<script src="./assets/libraries/plugins/chart.js/Chart.min.js"></script>
<script src="assets/libraries/dist/js/demo.js"></script>
<script src="assets/libraries/dist/js/pages/dashboard3.js"></script>