<div class="container-fluid">

    <!-- FILE PATH -->
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Bot Only Settings</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <!-- <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button> -->
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <!-- <div class="form-group">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch1">
                      <label class="custom-control-label" for="customSwitch1">Toggle this custom switch element</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                      <input type="checkbox" class="custom-control-input" id="customSwitch3">
                      <label class="custom-control-label" for="customSwitch3">Toggle this custom switch element with custom colors danger/success</label>
                    </div>
                  </div> -->
            <div class="container">
                <h3 class="card-title">Record</h3>
                <br>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled>
                                <label class="custom-control-label" for="customSwitch1">Date & Time</label>
                            </div>
                        </div>

                    </div>

                </div>

                <h3 class="card-title">Events</h3>
                <br>
                <div class="row">
                    <div class="col-sm">
                        <!-- <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Date & Time</label>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2" checked disabled>
                                <label class="custom-control-label" for="customSwitch2">Cam Sensor</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3" checked disabled>
                                <label class="custom-control-label" for="customSwitch3">Key Events</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch4" checked disabled>
                                <label class="custom-control-label" for="customSwitch4">Mouse Sensor</label>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch5">
                                <label class="custom-control-label" for="customSwitch5">I.P</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch6">
                                <label class="custom-control-label" for="customSwitch6">Browser Type</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch7">
                                <label class="custom-control-label" for="customSwitch7">Lat & Long</label>
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch8">
                                <label class="custom-control-label" for="customSwitch8">OS Type</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch9">
                                <label class="custom-control-label" for="customSwitch9">Screen Size</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch10">
                                <label class="custom-control-label" for="customSwitch10">Duration</label>
                            </div>
                        </div>
                    </div>

                </div>
                <button type="submit" id="botOnlySave" class="btn btn-primary" style="float: right;">Save</button>
                <!-- <button type="submit" id="botOnlySave" class="btn btn-primary">Save</button> -->
            </div>
        </div>



    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
</div>