<div class="container-fluid">

    <!-- FILE PATH -->
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Deep Learn Settings</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <!-- <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button> -->
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <!-- <div class="form-group">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch1">
                      <label class="custom-control-label" for="customSwitch1">Toggle this custom switch element</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                      <input type="checkbox" class="custom-control-input" id="customSwitch3">
                      <label class="custom-control-label" for="customSwitch3">Toggle this custom switch element with custom colors danger/success</label>
                    </div>
                  </div> -->
            <div class="container">

                <div class="row">
                    <div class="col-sm">
                        <!-- small card -->
                        <div class="small-box bg-danger">
                            <!-- Loading (remove the following to stop the loading)-->
                            <div class="overlay">
                                <!-- <i class="fas fa-3x fa-sync-alt"></i> -->
                                <i class="fas fa-sync-alt fa-spin" style="font-size: 40px"></i>
                            </div>
                            <!-- end loading -->
                            <div class="inner">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio1">
                                    <label for="customRadio1" class="custom-control-label"></label>
                                </div>
                                <h3>AWS</h3>

                                <h4>Soon. . .</h4>
                            </div>
                            <div class="icon">
                                <i class="fab fa-aws"></i>
                            </div>
                            <a href="#" class="small-box-footer">
                          More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-sm">
                        <!-- small card -->
                        <div class="small-box bg-info">
                            <!-- Loading (remove the following to stop the loading)-->
                            <div class="overlay">
                                <!-- <i class="fas fa-3x fa-sync-alt"></i> -->
                                <i class="fas fa-sync-alt fa-spin" style="font-size: 40px"></i>
                            </div>
                            <!-- end loading -->
                            <div class="inner">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio1">
                                    <label for="customRadio1" class="custom-control-label"></label>
                                </div>
                                <h3>Azure</h3>

                                <h4>Soon. . .</h4>
                            </div>
                            <div class="icon">
                                <i class="fab fa-microsoft"></i>
                            </div>
                            <a href="#" class="small-box-footer">
                          More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-sm">
                        <!-- small card -->
                        <div class="small-box bg-success">
                            <!-- Loading (remove the following to stop the loading)-->
                            <div class="overlay">
                                <!-- <i class="fas fa-3x fa-sync-alt"></i> -->
                                <i class="fas fa-sync-alt fa-spin" style="font-size: 40px"></i>
                            </div>
                            <!-- end loading -->
                            <div class="inner">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio1">
                                    <label for="customRadio1" class="custom-control-label"></label>
                                </div>
                                <h3>Google</h3>

                                <h4>Soon. . .</h4>
                            </div>
                            <div class="icon">
                                <i class="fab fa-google"></i>
                            </div>
                            <a href="#" class="small-box-footer">
                          More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                        </div>
                    </div>
                </div>

                <button type="submit" id="botOnlySave" class="btn btn-primary" style="float: right;" disabled>Save</button>
                <!-- <button type="submit" id="botOnlySave" class="btn btn-primary">Save</button> -->
            </div>
        </div>



    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
</div>