<link rel="stylesheet" type="text/css" href="assets/libraries/Bootstrap/bootstrap.css">
<div class="row">

    &nbsp;&nbsp;&nbsp;&nbsp;
    <h2>Searchable Tree</h2>
    <div class="col-sm-4">
        <h2>Input</h2>
        <!-- <form> -->
        <div class="form-group">
            <label for="input-search" class="sr-only">Search Tree:</label>
            <input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="">
        </div>
        <div class="checkbox">
            <label>
                          <input type="checkbox" class="checkbox" id="chk-ignore-case" value="false">
                  Ignore Case
                
                          </label>
        </div>
        <div class="checkbox">
            <label>
                              <input type="checkbox" class="checkbox" id="chk-exact-match" value="false">
                  Exact Match
                
                              </label>
        </div>
        <button type="button" class="btn btn-success" id="btn-search">Search</button>
        <button type="button" class="btn btn-default" id="btn-clear-search">Clear</button>
        <!-- </form> -->
    </div>
    <div class="col-sm-4">
        <h4>adscount</h4>
        <div id="treeview-searchable" class="treeview"></div>
        <!-- <br> -->
        <h4>bot</h4>
        <div id="treeview-searchable2" class="treeview"></div>
        <!-- <br> -->
        <h4>human</h4>
        <div id="treeview-searchable3" class="treeview"></div>
        <!-- <br> -->
        <h4>users</h4>
        <div id="treeview-searchable4" class="treeview"></div>
    </div>
</div>